/* CSS3 Support for IE, Add: behavior: url(../js/PIE.htc); */

/* Colors
   
   Dark Blue: 08476C
   Dark Grey: 231F20
   Background Grey: F1F1F2
   Background Border Grey: D0D2D3

*/
   

body {
	background-color: #08476C;
	font-family: Verdana;
}

h1.title {
	color: #08476C;
	border-bottom: 1px solid #D0D2D3;
	font-weight: normal;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

/*** Header ***/

#header-wrap {
	background: #08476C url(../images/background-header.jpg) no-repeat center top;
	margin-top: 10px;
	min-height: 135px;
	border-bottom: 5px solid #05324D;
}

#header {
	position: relative;
	min-height: 135px;
}

#logo {
	display: block;
	position: absolute;
	top: 17px;
	left: 25px;
	z-index: 10;
}

.region-header {
	overflow: hidden;
}

#slider {
    position:relative;
    width:940px; /* Change this to your images width */
    height:283px; /* Change this to your images height */
    background:url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom: 30px;
    z-index: 1;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}

.nivo-caption {
	padding-left: 25px;
	font-size: 18px;
	width: 915px !important;
}

.nivo-controlNav {
	background-color: #AAAAAA;
	position: absolute;
	bottom: -30px;
	height: 20px;
	width: 910px !important;
	margin-bottom: 10px;
	padding-left: 30px;
}

.nivo-controlNav a {
	display: block;
	float: left;
	font-size: 14px;
	margin-right: 20px;
}

.nivo-controlNav a.active {
	color: #fff;
	font-weight: normal!important;
}

.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

/*** Header Menu ***/

#block-superfish-1 {
	float: right;
}

ul#superfish-1 {
	width: 730px;
	background-color: #231F20;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px #231f20;
	-moz-box-shadow: 0px 0px 20px #231f20;
	box-shadow: 0px 0px 20px #231f20;
	margin-top: 19px;
	padding-left: 10px;
	
	behavior: url(../js/PIE.htc);
}

ul#superfish-1 li {
	background-color: transparent;
}

ul#superfish-1 li a, ul#superfish-1 li a:visited {
	border: none;
	color: #fff;
	text-transform: uppercase;
}

ul#superfish-1 li a:hover {
	background-color: #2c2c2c;
}

/*** Main Body ***/

#main-wrapper {
	background: #fff url(../images/background-content-wrap.jpg) repeat-x;
}

#main {
	background: #fff url(../images/background-content-inner.jpg) repeat-x bottom;
	-webkit-box-shadow: 0px 0px 20px #134753;
	-moz-box-shadow: 0px 0px 20px #134753;
	box-shadow: 0px 0px 20px #134753;
	border-left: 4px solid #A8BBC1;
	border-right: 4px solid #A8BBC1;
	padding: 10px 0;
	
	behavior: url(../js/PIE.htc);
}

#block-system-main {
	background-color: #F1F1F2;
	border: 1px solid #D0D2D3;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	behavior: url(../js/PIE.htc);
}

.front #block-system-main {
	height: 285px;
	margin-bottom: 15px;
}

#block-system-main > .content {
	padding: 15px;
}

/*** Right Sidebars ***/

.region-sidebar .block {
	
}

.front .block > h2 {
	color: #fff;
	font-weight: normal;
	padding: 5px 10px;
}

#block-menu-menu-sidebar-links {

}

#block-menu-menu-sidebar-links > h2 {
	display: none;
}

#block-menu-menu-sidebar-links .content ul.menu > li {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
}

#block-menu-menu-sidebar-links .content ul.menu > li a {
	display: block;
	background: #231F20 url(../images/arrow-right.png) no-repeat center right;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 280px;
	font-size: 18px;
	padding: 10px 0 10px 20px;
	
	behavior: url(../js/PIE.htc);
}

#block-menu-menu-sidebar-links .content ul.menu > li a, #block-menu-menu-sidebar-links .content ul.menu > li a:visited {
	text-decoration: none;
	color: #fff;
}

#block-menu-menu-sidebar-links .content ul.menu > li:nth-child(2) a {
	background-color: #808184;
}

/* Search Block */

#block-search-form {
	overflow: hidden;
	padding: 5px;
}

#block-search-form #edit-search-block-form--2 {
	float: left;
	margin-right: 5px;
	width: 255px;
}

.front #block-search-form #edit-search-block-form--2 {
	width: 410px;
}

#block-search-form #edit-submit {
	display: block;
	width: 20px;
	height: 20px;
	background: #08476C url(../images/arrow.png) no-repeat center center;
	border: 1px solid #0A5783;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-indent: -9999px;
	float: right;
	
	behavior: url(../js/PIE.htc);
}

/* Quick Contact */

#block-webform-client-block-3 {
	margin-top: 10px;
}

#block-webform-client-block-3 h2 {
	display: none;
}

#block-webform-client-block-3 #webform-component-e-mail {
	background-color: #231F20;
	padding: 5px;
}

#block-webform-client-block-3 #webform-component-message {
	background: transparent url(../images/front-arrow.png) no-repeat center bottom;
	padding-bottom: 9px;
}

.form-textarea-wrapper {
	background-color: #231F20;
	padding: 5px;
}

#block-webform-client-block-3 #webform-component-message, #block-webform-client-block-3 #webform-component-e-mail {
	margin-top: 0;
	margin-bottom: 0;
}

#block-webform-client-block-3 #webform-component-e-mail #edit-submitted-e-mail {
	width: 204px;
}

#block-webform-client-block-3 #edit-submit--2 {
	background: transparent url(../images/button-quick-contact.png) no-repeat center top;
	border: none;
	width: 220px;
	color: #fff;
	font-size: 18px;
	padding-top: 65px;
	height: 102px;
}

#block-webform-client-block-3 #edit-actions--2 {
	margin-top: 13px;
}

/* Frontpage Blog */

#block-views-bc03ef40e3947dc1a544d788f05f30f2 {
	margin-top: 10px;
	height: 260px;
	overflow: hidden;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-title, #block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-summarized-body {
	background-color: #231F20;
	color: #fff;
	font-size: 12px;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-title {
	padding: 5px 5px 0 5px;
	height: 18px;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-summarized-body {
	padding-bottom: 9px;
	background: transparent url(../images/front-arrow.png) no-repeat center bottom;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-summarized-body p {
	margin-bottom: 0;
	background-color: #231F20;
	padding: 0 5px 5px 5px;
	height: 96px;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-title h2 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-title a, #block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-title a:visited {
	color: #fff;
	text-decoration: none;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .button {
	background: transparent url(../images/button-quick-contact.png) no-repeat center top !important;
	width: 220px;
	font-size: 18px;
	padding: 65px 0 0 0 !important;
	height: 102px;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-align: center;
	margin-top: 12px;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-read-more .button {
	background: transparent url(../images/button-read-our-blog.png) no-repeat center top !important;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .button a, #block-views-bc03ef40e3947dc1a544d788f05f30f2 .button a:visited {
	color: #fff !important;
	text-decoration: none;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-read-more {
	overflow: hidden;
	margin-top: 12px;
}

#block-views-bc03ef40e3947dc1a544d788f05f30f2 .blog-read-more .button {
	margin: 0 auto;
	float: none;
}

/* Frontpage Ovens */

#block-block-2 {
	
}

#block-block-2 .oven-box .inner {
	padding: 5px;
}

#block-block-2 .oven-box-inner {
	background-color: #fff;
	height: 285px;
	position: relative;
	border-top: 5px #231F20 solid;
}

#block-block-2 h3, #block-block-3 #front-test-featured h3 {
	background-color: #08476C;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: normal;
}

#block-block-2 p {
	padding: 10px 10px;
	margin-bottom: 0;
}

#block-block-2 ul {
	padding: 0px 10px;
	font-size: 12px;
	margin: 0;
}

#block-block-2 ul li {
	margin: 0 15px;
	padding: 0;
}

#block-block-2 .button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #fff;
	text-decoration: none;
}

/* Front Page Testing */

#block-block-3 .inner {
	margin: 5px;
	background: #fff;
	display: inline;
	float: left;
	position: relative;
}

#block-block-3 .button {
	color: #fff;
	text-decoration: none;
}

#front-test-featured {
	background-color: #231F20;
	width: 210px;
}

#front-test-choose {
	background-color: #fff;
	width: 210px;
	position: relative;
	padding-top: 15px;
}

#front-test-choose .button {
	margin-bottom: 10px;
	width: 180px;
	text-align: center;
}


#block-block-3 #front-test-featured h3 {
	height: 19px;
	display: block;
}

#front-test-accred {
	width: 450px;
	border-top: 5px #231F20 solid;
	padding-top: 10px;
	padding-bottom: 20px;
}

#front-test-accred h3 {
	color: #08476C;
	padding-left: 10px;
	border-bottom: 1px solid #D0D2D3;
}

#front-test-accred .button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/*** Rounded Dark Grey Box ***/

#block-search-form, #block-block-2 .oven-box, #block-block-3 #front-test-wrap, .front .block > h2, #block-views-ed1e70b1671b641958b324a62299e5f8, #block-views-5a7d8d9ae79206c744ccca4809274808 {
	background-color: #231F20;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	behavior: url(../js/PIE.htc);
}

/*** Blog ***/

.view-display-id-blogsies_main_blogroll .button {
	float: left;
	margin-right: 10px;
}

.blog-tags {
	clear: both;
}

.blog-header-image img, .field-name-field-blogsies-header-image img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#block-views-ed1e70b1671b641958b324a62299e5f8, #block-views-5a7d8d9ae79206c744ccca4809274808 {
	clear: both;
	margin-bottom: 20px;
	width: 300px;
}

#block-views-ed1e70b1671b641958b324a62299e5f8 h2, #block-views-5a7d8d9ae79206c744ccca4809274808 h2 {
	color: #fff;
	padding: 10px;
	margin: 0;
}

#block-views-ed1e70b1671b641958b324a62299e5f8 .content, #block-views-5a7d8d9ae79206c744ccca4809274808 .content {
	padding: 10px;
}

/*** Testing Services */

.node-type-testing-service .field-name-field-document-downloads .field-label, .node-type-testing-service .field-name-field-services-included .field-label {
	color: #08476C;
	font-weight: normal;
	border-bottom: 1px solid #D0D2D3;
	font-size: 16px;
	margin-bottom: 15px;
}

.node-type-testing-service .node .field {
	margin-bottom: 20px;
}

.quote-button {
	text-indent: -999px;
	text-decoration:none;
	background: transparent url(../images/button-get-quote.png) no-repeat; 
	width: 300px;
	height: 150px;
	margin: 10px 0 auto;
	display: block;
}

/*** Footer ***/

#footer-wrap {
	padding-top: 10px;
	background-color: #08476C;
	color: #fff;
}

/*** 906.gs ***/
/* All grids */
#block-webform-client-block-3, #block-views-bc03ef40e3947dc1a544d788f05f30f2, #block-block-3 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.block {
	display: inline;
	float: left;
}

/* Grid 12.3 and 16.4 */
.front #block-webform-client-block-3, .front #block-views-bc03ef40e3947dc1a544d788f05f30f2 {
	width: 220px;
}

/* Alpha */

#block-webform-client-block-3, #block-block-3, #block-views-bc03ef40e3947dc1a544d788f05f30f2 {
	margin-left: 0;
}

/* Omega */

#block-views-bc03ef40e3947dc1a544d788f05f30f2, #block-block-3 {
	margin-right: 0;
}

/*** User Interface ***/

.button {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #231F20;
	display: block;
	padding: 5px 15px;
	color: #F1F1F2;
	-webkit-box-shadow: 0px 0px 20px #231f20;
	-moz-box-shadow: 0px 0px 20px #231f20;
	box-shadow: 0px 0px 20px #231f20;
	float: left;
	
	behavior: url(../js/PIE.htc);
}

.button:hover {
	background-color: #2c2c2c;
	-webkit-box-shadow: invert 0px 0px 20px #231f20;
	-moz-box-shadow: invert 0px 0px 20px #231f20;
	box-shadow: invert 0px 0px 20px #231f20;
	
	behavior: url(../js/PIE.htc);
}

.rounded-dark {
	background-color: #231F20;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	behavior: url(../js/PIE.htc);
}

/* Comments */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid #F1F1F2;
  border-right: 1px solid #F1F1F2;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #6F7C80;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #6F7C80;
  background: #D8E2E3;
}
tr.odd {
  background: #F0F4F5;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  text-transform: uppercase;
  background: #A8BBC1;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #6F7C80;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #6F7C80;
}

/*
VideoJS VimCSS Skin (http://videojs.com)
Version 2.0.0
*/

.vjs-controls {
  height: 60px; opacity: 0.9; color: #fff;
}
.vjs-controls > div {
  height: 32px; top: 18px; padding: 0; text-align: center; background: rgba(23, 35, 34, 0.746094);
  border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0;
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
/* Placement of Control Items */
.vjs-controls > div.vjs-play-control       { left: 5px;   width: 25px;  }
.vjs-controls > div.vjs-progress-control   { left: 35px;  right: 165px; } /* Using left & right so it expands with the width of the video */
.vjs-controls > div.vjs-time-control       { width: 75px; right: 90px;  } /* Time control and progress bar are combined to look like one */
.vjs-controls > div.vjs-volume-control     { width: 50px; right: 35px;  }
.vjs-controls > div.vjs-fullscreen-control { width: 25px; right: 5px;   }

/* Play/Pause
-------------------------------------------------------------------------------- */
.vjs-controls .vjs-play-control { top: 10px; margin: 0; height: 40px;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.vjs-play-control:hover { background: #00ADEF; }
.vim-css.vjs-paused .vjs-play-control span { border-left-color: #fff; border-top-width: 9px; border-left-width: 18px; border-bottom-width: 9px; margin: 11px 0 0 24px; }
.vim-css.vjs-playing .vjs-play-control span { width: 5px; height: 18px; margin: 5px auto 0; border-left: 5px solid #fff; border-right: 5px solid #fff; margin: 11px 0 0 24px; }

/* Progress
-------------------------------------------------------------------------------- */
.vjs-controls .vjs-progress-control { border-radius: 5px 0 0 5px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; }
.vjs-progress-control .vjs-progress-holder { height: 8px; padding: 1px; margin: 10px 5px 0 10px; border-color: #666666; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.vjs-progress-control .vjs-play-progress { height: 8px; background: #00ADEF; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }
.vjs-progress-control .vjs-load-progress { height: 8px; background: #898F8F; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }

/* Time Display
-------------------------------------------------------------------------------- */
.vjs-controls .vjs-time-control { font-size: 11px; }
.vjs-controls .vjs-time-control span { line-height: 32px; /* Centering vertically */ }

/* Volume
-------------------------------------------------------------------------------- */
.vjs-volume-control div { padding: 3px 0 0 6px; width: 30px; }
.vjs-volume-control div span {
  float: left; margin: 0 2px 0 0; padding: 0; width: 3px; height: 3px; border-bottom: 12px solid #666666;
  -webkit-transition: all 100ms linear; -moz-transition: all 100ms linear;
}
.vjs-volume-control div span.vjs-volume-level-on { border-color: #00ADEF; }
.vjs-volume-control div span:hover { height: 0; border-bottom-width: 15px; }

/* Fullscreen
-------------------------------------------------------------------------------- */
.vjs-fullscreen-control div { margin: 7px 0 0 7px; }
.vjs-controls .vjs-fullscreen-control { border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; }
/* Making default fullscreen icon smaller */
.vjs-fullscreen-control div span:nth-child(1) { margin: 0 4px 4px 0; border: none; border-top: 4px solid #fff; border-right: 4px solid rgba(0,0,0,0); }
.vjs-fullscreen-control div span:nth-child(2) { border: none; border-top: 4px solid #fff; border-left: 4px solid rgba(0,0,0,0); }
.vjs-fullscreen-control div span:nth-child(3) { clear: both; margin: 0 4px 0 0; border: none; border-bottom: 4px solid #fff; border-right: 4px solid rgba(0,0,0,0); }
.vjs-fullscreen-control div span:nth-child(4) { border: none; border-bottom: 4px solid #fff; border-left: 4px solid rgba(0,0,0,0); }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(1) { border: none; border-bottom: 4px solid #fff; border-left: 4px solid rgba(0,0,0,0); }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(2) { border: none; border-bottom: 4px solid #fff; border-right: 4px solid rgba(0,0,0,0); }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(3) { border: none; border-top: 4px solid #fff; border-left: 4px solid rgba(0,0,0,0); }
.vim-css.vjs-fullscreen .vjs-fullscreen-control div span:nth-child(4) { border: none; border-top: 4px solid #fff; border-right: 4px solid rgba(0,0,0,0); }
/* Fullscreen control hovering */
.vjs-fullscreen-control:hover div span:nth-child(3), .vjs-fullscreen-control:hover div span:nth-child(4), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(1), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(2) { border-bottom-color: #00ADEF; }
.vjs-fullscreen-control:hover div span:nth-child(1), .vjs-fullscreen-control:hover div span:nth-child(2), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(3), .vim-css.vjs-fullscreen .vjs-fullscreen-control:hover div span:nth-child(4) { border-top-color: #00ADEF; }

/* Big Play Button (at start)
---------------------------------------------------------*/
div.vjs-big-play-button {
  width: 130px; height: 80px; margin: -40px 0 0 -65px;
  border: none; opacity: 0.9;
  border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;

  background: rgba(23, 35, 34, 0.746094);

  /* CSS Shadows */
  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
div.vjs-big-play-button:hover {
  background: #00ADEF;
  opacity: 1;
}
div.vjs-big-play-button span {
  margin: 22px 0 0 48px;
  /* Drawing the play triangle with borders - http://www.infimum.dk/HTML/slantinfo.html */
  border-left: 36px solid #fff; /* Width & Color of play icon */
  /* Height of play icon is total top & bottom border widths. Color is transparent. */
  border-top: 18px solid rgba(0,0,0,0); border-bottom: 18px solid rgba(0,0,0,0);
}